@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";

@theme {
  --color-validGreen: #0cdd08;
  --font-exo: "Exo", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
}
